@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family:'Bai Jamjuree', sans-serif ;
    font-size: 1rem;
    color: white;
    background-color: #162536;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
.card__container{
    padding-block: 5rem ;
}
.card__content{
margin-inline: 1.75rem;
border-radius: 1.25rem;
overflow: hidden;

}
.card__article{
    width: 300px;
    border-radius:1.25rem ;
    overflow: hidden;
}
.card__image{
    position: relative;
    padding-top: 1.5rem;
    margin-bottom:-.75rem ;
   background-color: hsl(38, 92%, 58%);
  
}
.card__data{
    background-color: hsl(212, 42%, 15%) ;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}
.card__img{
    width: 380px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.card__shadow{
    width: 200px;
    height: 200px;
    background-color: hsl(32,75%, 50%);
    position: absolute;
    top: 3.7rem;
    border-radius: 50%;
    left: o;
    right: o;
    margin-inline: auto;
    filter: blur(45px);
}
.card__name{
    font-size: 1.25rem;
    color: #29b3e0;
    margin-bottom: .75rem;
}
.card__description{
  font-weight: 500;
    margin-bottom: 1.75rem;
}
.button-57 {
  position: relative;
  overflow: hidden;
  border: none;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  outline: none;
  margin-right: 170px;
  border-radius: 10px;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 10px;
  width: 140px;
}

.button-57 span:first-child {
  position: relative;
  transition: .5s;
  z-index: 10;
}
.slide-divide{
  background-color: gray;
  width: 80%;
  height: .5px;
  transform: translateY(-15px);
  z-index: 1000;
  margin-left: 10px;
  position: absolute;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0px;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);


}

.button-57:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 50;
  transition: .3s;
}

.button-57:hover:after {
  transform-origin: bottom center;
  bottom: 0;
 transition: .3s;
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-55%);
  opacity: 1;
  transition: .5s;
}  

.swiper-button-prev::after,
.swiper-button-next::after{
content: '';
}

.swiper-button-next,
.swiper-button-prev{
    width: initial;
   height: initial;
    font-size: 3rem;
    color:hsl(195, 75%, 52%) ;
    display: none;
    /*  */
}
.swiper-button-prev{
    left: 0;



}
.swiper-button-next{
    right: 0;
}
.swiper-pagination-bullet{
  background-color: hsl(212, 32%, 40%);  
  opacity: 1;
 
}
.swiper-pagination-bullet-active{
    background-color:hsl(195, 75%, 52%) ;
}
@media screen and (max-width: 320px){
    .card__data{
        padding: 1rem;
    }
}
@media screen and(min-width: 768px){
    .card__content{
        margin-inline: 3rem;
    }


    .swiper-button-next,
    .swiper-button-prev{
        display: block;
    }
}
@media screen and (min-width:1120px){
.card__container{
    max-width: 1120px;
}
.swiper-button-next{
    right: -1rem;
}
.swiper-button-prev{
    left: -1rem;
}
 }
    
  

    
/* ////////////////////////////////////////////////////////////////////////// */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
} */

.container {
    margin: 30px auto;
    margin-top: 50px;
}

.container .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}
.btn.btn-primary {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.container .card .img-box {
    width: 80px;
    height: 50px;
}

.container .card img {
    width: 100%;
    object-fit: fill;
}

.container .card .number {
    font-size: 24px;
}

.container .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.fab.fa-cc-mastercard {
    font-size: 32px;
    color: red;
}

.fab.fa-cc-discover {
    font-size: 32px;
    color: orange;
}

.c-green {
    color: green;
}

.box {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-control {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
    color: #80868B;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-control:focus+.form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus)+.form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-control:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}